.search-field{
  text-align: center;
}

* {
  text-align: center;
}

h1 {
  font-size: 40px;
  background-color:bisque;
  margin-bottom: -2px;
}

.image {
  left: 0;
  right: 0;
  top: 2rem;
  max-width: calc(100% - 2rem);
  height: auto;
  width: auto;
  max-height: calc(500px - 4rem);
  display: block;
}